<template>
    <h1 class="text-2xl">Edit Contact</h1>
    <div class="w-full">
        <div class="wrapper mb-4">
            <label for="name" class="block">Name</label>
            <input
                id="name"
                v-model="contact.name"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Name"
                required
            />
        </div>
        <div class="wrapper mb-4">
            <label for="phone" class="block">Phone</label>
            <input
                id="phone"
                v-model="contact.phone"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Phone"
            />
        </div>
        <div class="wrapper mb-4">
            <label for="email" class="block">Email</label>
            <input
                id="email"
                v-model="contact.email"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Email"
            />
        </div>
        <div class="wrapper mb-4">
            <label for="address" class="block">Address</label>
            <input
                id="address"
                v-model="contact.address"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Address"
            />
        </div>
        <button
            @click="updateContact"
            type="submit"
            class="rounded bg-blue-500 ml-auto block hover:bg-blue-600 px-4 py-2 text-white"
        >
            Update Contact
        </button>
    </div>
</template>

<script>
import { useRoute, useRouter } from "vue-router";
import { ref } from "vue";
import axios from "axios";
export default {
    setup() {
        const route = useRoute();
        const router = useRouter();
        const contact = ref({
            id: "",
            name: "",
            phone: "",
            email: "",
            address: "",
        });

        const getDetailContact = () => {
            axios
                .get(`http://127.0.0.1:8000/api/contacts/${route.params.id}`)
                .then((res) => {
                    contact.value = res.data.data;
                });
        };

        const updateContact = () => {
            axios
                .put(
                    `http://127.0.0.1:8000/api/contacts/${contact.value.id}`,
                    contact.value
                )
                .then((res) => {
                    contact.value = res.data.data;
                    router.push("/");
                });
        };

        getDetailContact();

        return { contact, updateContact };
    },
};
</script>

