<template>
    <div class="w-full">
        <div class="wrapper mb-4">
            <label for="name" class="block">Name</label>
            <input
                id="name"
                v-model="contact.name"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Name"
                required
            />
        </div>
        <div class="wrapper mb-4">
            <label for="phone" class="block">Phone</label>
            <input
                id="phone"
                v-model="contact.phone"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Phone"
            />
        </div>
        <div class="wrapper mb-4">
            <label for="email" class="block">Email</label>
            <input
                id="email"
                v-model="contact.email"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Email"
            />
        </div>
        <div class="wrapper mb-4">
            <label for="address" class="block">Address</label>
            <input
                id="address"
                v-model="contact.address"
                type="text"
                class="w-full border p-2 focus:outline-none"
                placeholder="Address"
            />
        </div>
        <button
            @click="submitForm"
            type="submit"
            class="rounded bg-blue-500 ml-auto block hover:bg-blue-600 px-4 py-2 text-white"
        >
            Save Contact
        </button>
    </div>
</template>

<script>
import { reactive } from "vue";
import axios from "axios";
export default {
    setup() {
        const contact = reactive({
            name: "",
            phone: "",
            email: "",
            address: "",
        });

        return { contact };
    },
    methods: {
        submitForm() {
            console.log(this.contact.phone);
            axios
                .post("http://127.0.0.1:8000/api/contacts", this.contact)
                .then((res) => {
                    this.$emit("on-success");
                    this.contact.name = "";
                    this.contact.phone = "";
                    this.contact.email = "";
                    this.contact.address = "";
                })
                .catch((err) => {
                    console.log(err.message);
                });
        },
    },
};
</script>