<template>
    <h1 class="text-2xl text-blue-500">Form Contact</h1>
    <Form @on-success="getContacts" />
    <table class="w-full">
        <thead>
            <tr>
                <td class="w-10">No</td>
                <td>Nama</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(data, i) in contacts" :key="data.id">
                <td>{{ ++i }}</td>
                <td>{{ data.name }}</td>
                <td>{{ data.phone }}</td>
                <td>
                    <button
                        class="bg-green-600 hover:bg-green-700 text-white rounded px-2 text-sm focus:outline-none mr-2"
                        @click="detailContact(data.id)"
                    >
                        Detail
                    </button>
                    <button
                        class="bg-red-600 hover:bg-red-700 text-white rounded px-2 text-sm focus:outline-none"
                        @click="deleteContact(data.id)"
                    >
                        Delete
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
import Form from "./Form.vue";
import axios from "axios";
import { ref } from "vue";
import { useRouter } from "vue-router";

export default {
    setup() {
        const contacts = ref([]);
        const router = useRouter();

        const getContacts = () => {
            axios.get("http://127.0.0.1:8000/api/contacts").then((response) => {
                if (response.status == 200) {
                    contacts.value = response.data.data;
                }
            });
        };

        getContacts();

        const detailContact = (id) => {
            router.push(`/contacts/${id}`);
        };

        const deleteContact = (id) => {
            axios
                .delete(`http://127.0.0.1:8000/api/contacts/${id}`)
                .then((response) => {
                    if (response.status == 200) {
                        getContacts();
                    }
                })
                .catch((err) => {
                    console.log(err.message);
                });
        };

        return {
            contacts,
            getContacts,
            detailContact,
            deleteContact,
        };
    },

    components: {
        Form,
    },
};
</script>